@tailwind base;
@tailwind components;
@tailwind utilities;

#app,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

// 所有主题样式
$bg-color: (
  light: #fff,
  dark: #091a28,
);

$title-color: (
  light: #363636,
  dark: #fff,
);

$subtitle-color: (
  light: #4a4a4a,
  dark: cyan,
);

@mixin themify($key, $valueMap) {
  // theme list
  $themes: light, dark;

  @each $theme in $themes {
    [data-theme='#{$theme}'] & {
      #{$key}: map-get($valueMap, $theme);
    }
  }
}

.app {
  @include themify('background-color', $bg-color);
}

.title {
  @include themify('color', $title-color);
}

.subtitle {
  @include themify('color', $subtitle-color);
}

// light主题色
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  color: #2c3e50;
}

a,
button {
  color: #4fc08d;
}

button {
  background: none;
  border: solid 1px;
  border-radius: 2em;
  font: inherit;
  padding: 0.75em 2em;
}

.theme-switch {
  cursor: pointer;
}
